[Unit]
Description=Wireguard VPN + Web-based Admin UI
After=network-online.target nss-lookup.target

[Service]
Environment="WG_HOST=106.53.162.114"
Environment="PASSWORD_HASH=$2a$12$8IU4/LU2gfBIpPIHmxWXweWgPZtUFVc.llf9J3FqJrhAQpMCXl0lO"
Environment="WG_DEFAULT_ADDRESS=10.0.8.x"
Environment="WG_ALLOWED_IPS=10.0.8.0/24"
Environment="WG_DEFAULT_DNS=8.8.8.8,8.8.4.4"

Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/env node /app/server.js
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
